[submodule "frontend"]
	path = frontend
	url = git@github.com:zipug/frontend.git
[submodule "dashboard-service"]
	path = dashboard-service
	url = git@github.com:zipug/dashboard-service.git
[submodule "mail-service"]
	path = mail-service
	url = git@github.com:zipug/mail-service.git
