[submodule "frontend"]
	path = frontend
	url = git@github.com:zipug/frontend.git
[submodule "dashboard-service"]
	path = dashboard-service
	url = git@github.com:zipug/dashboard-service.git
[submodule "mail-service"]
	path = mail-service
	url = git@github.com:zipug/mail-service.git
[submodule "search-service"]
	path = search-service
	url = git@github.com:zipug/search-service.git
[submodule "docker-exec-service"]
	path = docker-exec-service
	url = git@github.com:zipug/docker-exec-service.git
[submodule "report-service"]
	path = report-service
	url = git@github.com:zipug/report-service.git
